version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sayren_front
    ports:
      - "3001:3000"
    env_file:
      - .env.production
    networks:
      - sayren_network
    restart: always

networks:
  sayren_network:
    external: true
