version: "3.8"

services:
  frontend:
    build:
      context: .                     # 현재 디렉토리 기준으로 Dockerfile 읽음
      dockerfile: Dockerfile         # (선택사항, 기본값)
    image: sr0116/sayren-frontend:latest
    container_name: sayren_front
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    restart: always
